body {
  background-color: hsl(185, 75%, 39%);
}

#topbg {
	position:fixed;
  left: 0;
  bottom: 500px;
}

#bottombg {
	position:fixed;
  left: 1200px;
  top: 500px;

}


.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
}

.profilebox {
  font-family: Kumbh Sans;
  background-color: #F0F8FF;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  position: relative;
  left: 800px;
  top: 350px;
}
