body {
  background-color: hsl(185, 75%, 39%);
}

#topbg {
	position:fixed;
  right: 50%;
  bottom: 40%;
}

#bottombg {
	position:fixed;
  left: 50%;
  top: 50%;

}


.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
}

.profilebox {
  font-family: "Kumbh Sans";
  background-color: #F0F8FF;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.bgcard {
  width: 350px;
  height: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profilepic {
  border-radius: 50%;
  height: 25%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

.nameage {
  text-align: center;
  padding-top: 15%;
}

.city {
  text-align: center;
}

.stats {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 110px);
  line-height: 0.5;
  padding-top: 5%;
  padding-left: 3%;
}

.name, .amount {
  font-weight: 700;
}

.catagory {
  font-weight: 400;
}
